<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="BEANSTALK_DRIVER" value="sync"/>
        <env name="DATABASE_DRIVER" value="testing"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="BITCOIN_MASTER_KEY" value="testingfoo123"/>
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <exclude>
                <directory>./build</directory>

                <!-- exclude compiled files -->
                <file>./app/Providers/AppServiceProvider.php</file>
                <file>./app/Providers/BusServiceProvider.php</file>
                <file>./app/Providers/ConfigServiceProvider.php</file>
                <file>./app/Providers/EventServiceProvider.php</file>
                <file>./app/Providers/RouteServiceProvider.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
